.letter-box{
    width: 50px;
    height: 50px;
    border: 1px solid var(--main-bg-color);
    text-align: center;
    font-size: 35px;
}

.hangman-board{
    display: flex;
    gap: 10px;
}

.play-zone {
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}

.input-and-used-letters{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: end;
    align-items: center;
}

.input-and-used-letters > label{
    width: 200px;
}

.input-and-used-letters > label > input{
    width: 100%;
}

.looser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrong-letters{
    font-size: 25px;
}