.card{
    width: 20%;
    box-shadow: 8px 8px 5px lightblue;
}

.card-image:hover{
    opacity: 0.5;
}

.card-image{
    width: 100%;
}

.card-game-name{
    border: solid 2px var(--main-bg-color);
    text-align: center;
}

.card-game-name > p {
    margin: 0 auto;
    padding: 5px;
    font-size: larger;
    font-weight: bold;
    background-color: var(--main-bg-color);
    color: white;
    
}

.card-link{
    text-decoration: none;
}