@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');


:root{
    --main-bg-color: #0199a1;
    --main-border-color: #085659;
    margin: 0 auto;
    font-family: 'Agdasima', sans-serif;
}

body{
    margin: 0 auto;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.game-buttons{
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0 30px 0 30px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    width: 200px;
}
